{% extends "base.html" %}


{% block content %}

<div class="card">

    <h1>
        Privacy Policy
    </h1>


    <p>
        We collect only information
        reasonably required to
        provide and manage our
        services.
    </p>


    <p>
        This may include Telegram
        user information,
        subscription information
        and payment transaction
        references.
    </p>


    <p>
        We do not request or store
        sensitive payment credentials
        such as UPI PINs, card PINs
        or passwords.
    </p>


    <p>
        Payment processing may be
        handled by third-party
        payment providers.
    </p>


    <p>
        Information may be used
        for account management,
        subscription activation,
        fraud prevention,
        customer support and
        service operation.
    </p>

</div>

{% endblock %}
