{% extends "base.html" %}


{% block content %}

<div class="card">

    <h1>
        Terms & Conditions
    </h1>


    <p>
        By using Music API,
        you agree to use the
        service only for lawful
        purposes.
    </p>


    <p>
        API access may be subject
        to subscription periods,
        request limits and other
        restrictions communicated
        through the service.
    </p>


    <p>
        Users are responsible for
        keeping their API credentials
        private and secure.
    </p>


    <p>
        We may suspend or terminate
        access in cases of abuse,
        fraud, unauthorized use or
        violation of these terms.
    </p>

</div>

{% endblock %}
